# ==================================
# Pastas de Compilação do .NET
# ==================================
[Bb]in/
[Oo]bj/
[Oo]ut/

# ==================================
# Configurações Locais de IDEs
# ==================================
# Visual Studio
.vs/
*.user
*.userosscache
*.sln.docstates
*.suo

# VS Code / JetBrains Rider
.vscode/
.idea/

# ==================================
# Arquivos de Sistema Operacional
# ==================================
# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Mac / Linux
.DS_Store
.Trashes
~*

# ==================================
# Específicos do MAUI / Mobile
# ==================================
Generated\ Files/
AppPackages/
BundleArtifacts/
*_ResXFiles/